*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
background-color: #f3e3e3;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.container{
     text-align: center;
     background-color: #fff;
     padding: 40px;
     border-radius: 10px;
     box-shadow: 20px 20px 20px #c3b783 ,
      -20px -20px 60px #366d60;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.display{
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    background-color: #fff;
    border-radius: 10%;
    margin-bottom: 30px;
    box-shadow: inset 20px 20px 20px #b5a55f,inset -20px -20px -60px #c8bcbc;
color:#333;

}


button{
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    background-color: #333;
    box-shadow: 20px 20px 20px #b5a55f, -20px -20px 60px #366d60;
     transition: all 0.2s ease-in-out;
}
button:hover{
    transition: translate(5px, 5px);
    box-shadow: 5px 5px 5px  #fff, 
    -5px -5px 15px #fff;
} 
.start{
    background-color: rgb(170, 107, 25);
    color: #fff;
}
.stop{
    background-color: #366d60;
    color: #fff;
}
.reset{
    background: color #f7af5a;;
    color: #fff;
}

